.settings{
  --radio-width: 16px;
}

.settings label{
  position: relative;
  margin-left: calc(16px + 10px);
}

.settings label::before{
  content: '';
  top: 1px;
  left: -26px;
  width: 16px;
  height: 16px;
  opacity: 0.4;
  position: absolute;
  border-radius: 50%;
  background: var(--gray);
}
.settings input:checked + label::after{
  content: '';
  top: 4px;
  left: -23px;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  background: var(--blue);
}

.settings input[type='radio']{
  width: 0px;
  visibility: hidden;
}

.settings .reset{
  color: var(--white);
  background: var(--blue-2);
}

.settings .reset:hover{
  color: var(--white);
  background: var(--blue-3);
}

.settings .reset:active{
  background: var(--blue-4);
}