.messages{
  /* display: flex; */
  height: 100%;
  overflow: auto;
  flex-direction: column;
  box-sizing: border-box;
  padding: var(--gPadding);
  background: var(--white);
  justify-content: flex-end;
}

.messages > *{
  margin-bottom: 20px;
}

/* .messages div:last-child{
  margin-bottom: 0px;
} */