.inputHandler{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--gPadding);
  max-height: calc(var(--gPadding) + 82px);
  background: var(--blue-1);
}

.inputHandler .input{
  border: none;
  resize: none;
  outline: none;
  padding: 10px;
  overflow: auto;
  font-size: 18px;
  max-height: 82px;
  width: calc(90% - 57px);
  box-sizing: border-box;
  background: var(--white);
  border-radius: var(--input-radius);
}

.inputHandler .button{
  padding: 4px 12px;
  margin-left: var(--gPadding);
  background: var(--blue-2);
}

.inputHandler .button:hover{
  color: var(--white);
  background: var(--blue-3);
}

.inputHandler .button:active{
  background: var(--blue-4);
}

@media screen and (min-width: 768px) {
  .inputHandler .button{
    padding: 6px 10px;
  }

  .inputHandler .input{
    font-size: 16px;
  }
}
