.inputHandler{
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--handler-height);
  background: var(--blue-1);
}

.inputHandler textarea{
  height: 60%;
  border: none;
  resize: none;
  outline: none;
  font-size: 18px;
  width: calc(90% - 57px);
  box-sizing: border-box;
  padding: 4px var(--gPadding) 0px;
  border-radius: var(--input-radius);
}

.inputHandler .button{
  padding: 4px 12px;
  margin-left: var(--gPadding);
  background: var(--blue-2);
}

.inputHandler .button:hover{
  color: var(--white);
  background: var(--blue-3);
}

.inputHandler .button:active{
  background: var(--blue-4);
}

@media screen and (min-width: 768px) {
  .inputHandler .button{
    padding: 6px 10px;
  }

  .inputHandler textarea{
    font-size: 16px;
    padding: 10px var(--gPadding) 0px;
  }
}
