:root{
  --black : #262626;
  --white : #fff;
  --red : #ed5355;
  --gray : #858585;
  --orange : #ee8d38;

  --blue-4: #0487D9;
  --blue-3: #0477BF;
  --blue: #049DD9;
  --blue-2: #41C0F2;
  --blue-1: #91D7F2;
  
  --light-gray : #b9b9b9;
  --light-gray-4 : rgba(185, 185, 185, 0.4);;
  --white-6 : hsla(0, 0%, 100%, 0.6);
  
  --nav-height: 40px;
  --button-radius: 10px;
  --handler-height: 40px;
  --paragraph-color: #4a4a4a;
  --color-border: var(--light-gray);
  /* General container */
  --gPadding: 10px;
  --input-radius: 14px;
  --container-width: 100vw;
  --container-margin: 0vh;
  --container-height: calc(100vh - var(--container-margin));
  --paragraph-margin: 10px;
  /* Modal container */
  --modal-container-width: 50%;
}

.MyChat{
  display: flex;
  font-size: 12px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h2{
  font-size: 16px;
}

.--flex{
  display: flex;
}

.--wrap{
  flex-wrap: wrap;
}

.--flexBetween{
  justify-content: space-between;
}

.--flexCenter{
  justify-content: center;
}

.--flexEnd{
  justify-content: flex-end;
}

.--flexColumn{
  flex-direction: column;
}

.--spaceEvenly{
  justify-content: space-evenly;
}

.--marginBottom{
  margin-bottom: var(--paragraph-margin);
}

.--marginRight{
  margin-right: var(--paragraph-margin);
}

button{
  border: none;
  outline: none;
  cursor: pointer;
}

.invalid{
  border: 1px solid var(--red);
}

.--pointer{
  cursor: pointer;
}

.container {
  overflow: hidden;
  border-radius: 6px;
  width: var(--container-width);
  height: var(--container-height);
  margin-top: calc(var(--container-margin) / 2);
}

.title{
  font-size: 18px;
  color: var(--blue);
  text-align: center;
  text-transform: capitalize;
}

.separator{
  margin-top: var(--gPadding);
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 768px) {
  :root{
    --gPadding: 20px;
    --nav-height: 60px;
    --handler-height: 60px;
    --container-width: 90vw;
    --container-margin: 10vh;
  }
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1280px) {
  :root{
    --container-width: 80vw;
    --container-margin: 20vh;
  }
}


@media screen and (min-width: 1920px) {
  :root{
    --container-width: 70vw;
    --container-margin: 30vh;
  }
}

@media screen and (min-width: 3840px) {
  :root{
    --container-width: 60vw;
    --container-margin: 40vh;
  }
}