.card {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  margin-bottom: var(--gPadding);
}
.card.external {
  justify-content: flex-start;
}

.card div.cont{
  max-width: 60%;
  position: relative;
}

.card .metaData{
  display: block;
  font-size: 12px;
  text-align: end;
  color: var(--light-gray);
}

.card.external .metaData{
  text-align: start;
}

.card div.text{
  white-space: pre-wrap;
  background: var(--blue-1);
  padding: calc(var(--gPadding) / 2);
}