nav{
  display: flex;
  position: relative;
  align-items: center;
  padding: var(--gPadding);
  background: var(--blue);
  justify-content: center;
}

nav h1{
  color: var(--white);
}

nav .button{
  position: absolute;
  right: var(--gPadding);
  background: var(--blue-2);
}

nav .button:hover{
  color: var(--white);
  background: var(--blue-3);
}

nav .button:active{
  background: var(--blue-4);
}
